body{
    background-color: black;
}
p{
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
}
.nav-bar-container{
    background-color: rgb(246, 147, 26);
    border:ridge 0.5vw orange;
    border-radius: 5vw;
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: 2vw;
    padding: 1vw;
    gap: 1vw;
    align-items: center;
}
.nav-bar-title{
    position: relative;
    width:fit-content;
    height: fit-content;
    font-family:'Courier New', Courier, monospace;
    font-style:oblique;
    font-weight: bold;
    font-size: 4vw;
    left: 9%;
}
.Pali-Punks-PFP{
    height: 6vw;
    width: 6vw;
    box-shadow: none;
}
.GM-punk{
    height: 100%;
    width:auto;
    float: right;
    box-shadow: none;
    border-radius: 5vw;
}
.grid{
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    grid-template-rows: 30vw;
    margin: 2vw;
    gap: 2vw;
}
.Item-1{
    padding: 1vw;
    background-color: rgb(246, 147, 26);
    border: ridge 0.5vw orange;
    border-radius: 5vw;
}
.GIF-descrip{
    font-size: 2vw;
}
.Item-2{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    background-color: rgb(246, 147, 26);
    border: ridge 0.5vw orange;
    border-radius: 5vw;
}
#gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem;
    margin: 2vw;
}
img{
    border-radius: 10px;
    width: 6vw;
}
.roadmap{
    font-family: 'Courier New', Courier, monospace;
    list-style:none;
    font-size: 2vw;
    text-align: center;
}
.roadmap-1{
    font-family: 'Courier New', Courier, monospace;
    list-style:none;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
}
.list-graphic{
    list-style: none;
    text-align: center;
}
.orange-pill{
    height: 4vw;
    width: 4vw;
    padding: 0.5vw;
}
.gallery-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2vw;
    margin-top: 2vw;
}
.blok9{
    height: 44vw;
    width: 44vw;
}
.road-map{
    height: 44vw;
    width: 44vw;
}
.deserted{
    width: 90vw;
    margin-top: 2vw;
}
.gallery-2{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;
}
.gallery-title{
    background-color: rgb(246, 147, 26);
    border:ridge 0.5vw orange;
    border-radius: 5vw;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 4vw;
    padding: 1vw;
    gap: 1vw;
    margin: 2vw;
}
.art-drops{
    font-size: 4vw;
    font-weight: bold;
}
.punk-gallery{
    background-color: rgb(246, 147, 26);
    border:ridge 0.5vw orange;
    border-radius: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4vw;
    margin: 2vw;
    padding: 1vw;
    gap: 1vw;
    text-align: center;
}
.punk-gallery-title{
    font-size: 4vw;
    font-weight: bold;
    position: relative;
    left: 30vw
}