body{
    background-color: black;
}
p{
    font-family:'Courier New', Courier, monospace;
    font-style: oblique;
}
.main-title-container{
    background-color: rgb(246, 147, 26);
    border:solid 0.5vw orange;
    border-radius: 3vw;
    display: flex;
    flex-direction: row;
    height: fit-content;
    margin: 1vw;
    padding: 0.5vw;
    align-items: center;
}
.main-title{
    position: relative;
    width:fit-content;
    height: fit-content;
    font-family:'Courier New', Courier, monospace;
    font-style:oblique;
    font-weight: bold;
    font-size: 3vw;
    left: 19%;
}
.laser-eyes{
    height: 4vw;
    width: 4vw;
    box-shadow: none;
}
.gif-1{
    padding: 0vw;
    height: 100%;
    width:auto;
    float: right;
    box-shadow: none;
    border-radius: 3vw;
}
.gif-text-1{
    padding: 1vw;
    margin-left: 2vw;
    font-size: 1.5vw;
}
.grid-1{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20vw;
    margin: 1vw;
    gap: 1vw;
}
.grid-1-item-1{
    background-color: rgb(246, 147, 26);
    border: solid 0.5vw orange;
    border-radius: 3vw;
}
.grid-1-item-2{
    display: flexbox;
    flex-direction: column;
    align-items: center;
    padding: 1vw;
    background-color: rgb(246, 147, 26);
    border: solid 0.5vw orange;
    border-radius: 3vw;
}
#punk-gallery-flex{
    display: grid;
    grid-template-columns: 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw;
    grid-template-rows: 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw 8vw;
    justify-content: center;
    margin: 1vw;
}
img{
    width: 8vw;
}
.roadmap{
    font-family: 'Courier New', Courier, monospace;
    list-style:none;
    font-size: 1.5vw;
    text-align: center;
}
.roadmap-1{
    font-family: 'Courier New', Courier, monospace;
    list-style:none;
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
}
.list-graphic{
    list-style: none;
    text-align: center;
}
.orange-pill{
    height: 4vw;
    width: 4vw;
    padding: 0.5vw;
}
.punk-gallery-title-container{
    background-color: rgb(246, 147, 26);
    border:solid 0.5vw orange;
    border-radius: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3vw;
    margin: 1vw;
    padding: 1vw;
}
.punk-gallery-title{
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    left: 36vw
}
.blok9{
    height: 42vw;
    width: 42vw;
    border: solid 0.5vw orange;
}
.road-map{
    height: 42vw;
    width: 42vw;
    border: solid 0.5vw orange;
}
.deserted{
    width: 86vw;
    border: solid 0.5vw orange;
    grid-column-start: 1;
    grid-column-end: 3;
}
.art-drops-gallery-grid{
    display: grid;
    grid-template-columns: 44vw 44vw;
    grid-template-rows: 44vw auto;
    justify-content: center;
}
.art-drops-title-container{
    background-color: rgb(246, 147, 26);
    border:solid 0.5vw orange;
    border-radius: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3vw;
    margin: 1vw;
    padding: 1vw;
}
.art-drops-title{
    font-size: 3vw;
    font-weight: bold;
    position: relative;
    left: 39vw
}